/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */

  a {
    color: blue; /* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: white; /* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }
  card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
    margin-top: 2%;
   
  }
  .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
    margin-bottom: 2%;
  }
  body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271eaa23-7e5c-47f8-90dd-bb7ccaf7c682/d4yvcut-292b48fa-a185-4f4b-a6c2-2e89b249cf6a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjcxZWFhMjMtN2U1Yy00N2Y4LTkwZGQtYmI3Y2NhZjdjNjgyXC9kNHl2Y3V0LTI5MmI0OGZhLWExODUtNGY0Yi1hNmMyLTJlODliMjQ5Y2Y2YS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.BmuuQG1gPlTm1CG4QtxsCBVB0C7Pe8vyeNUxJeBNCsU');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    color:whitesmoke; /* set the text color to black here */
    font-family: Arial, Helvetica, sans-serif; /* set the font here */
    text-align: center; /* set the text alignment here */
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    color: #075AAB; /* set the text color of to #075AAB here */
    /* set both the bottom margin and top margin to 2.5rem here */
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
  